.sendProfile{
    border: 20px solid ;
    border-image: linear-gradient(to right, blue, red) 1;

}
.sendProfile-content{
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
}
.sendProfile-content-up{
    display: flex;
    gap: 30px;
}
.sendProfile-center .h{
    display: flex;
    align-items: center;
    gap: 15px;
}
.sendProfile-center .h div{
    display: flex;
    gap: 8px;
}
.sendProfile-center h1{
    text-shadow: 2px 2px red ;
}
.sendProfile-center h2{
    color: gray;
}
.sendProfile-center .h div{
    display: flex;
    align-items: center;
}
.sendProfile-center .h button{
    background: linear-gradient(to right , blue , red);
    padding: 7px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    gap: 3px;
    align-items: center;
}
.profile-center{
    width: 90%;
}
hr{
    width: 90%;
    margin: 30px auto;
    opacity: 0.5;
}
.buttons{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
   

}
.buttons button{
    background: linear-gradient(to right , blue , red);
    padding: 7px;
    border: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    width: 150px;
    text-align: center;
    
}
